@charset "UTF-8";
body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc779), to(#fe77a6));
  background-image: linear-gradient(#ffc779, #fe77a6);
}

body #preloadPage {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #preloadPage .preloadContent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body #preloadPage .preloadContent h1 {
  color: #9a0021;
}

body #preloadPage .preloadContent p .link {
  color: black;
  text-decoration: underline;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

body #preloadPage .preloadContent p .link:hover {
  color: #9a0021;
  cursor: pointer;
}

body #preloadPage .preloadContent #languageSelector {
  display: inline-block;
  position: relative;
  min-width: 150px;
  margin-left: 10px;
  border: 1px solid black;
}

body #preloadPage .preloadContent #languageSelector #selectedLanguage {
  position: relative;
  padding: 5px 0px 5px 10px;
  text-align: left;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d2155a00), color-stop(#d2155a23), to(#d2155a7b));
  background-image: linear-gradient(#d2155a00, #d2155a23, #d2155a7b);
  background-repeat: no-repeat;
  background-position: 0 25px;
  z-index: 1;
  -webkit-transition: background-position 300ms ease-in-out;
  transition: background-position 300ms ease-in-out;
}

body #preloadPage .preloadContent #languageSelector #selectedLanguage::after {
  content: "⯆";
  content: url("../public/img/triangle.svg");
  position: absolute;
  right: 10px;
  rotate: 180deg;
  translate: 0 3px;
  -webkit-transition: rotate 300ms ease-in-out, translate 300ms ease-in-out;
  transition: rotate 300ms ease-in-out, translate 300ms ease-in-out;
}

body #preloadPage .preloadContent #languageSelector #selectedLanguage:hover {
  cursor: pointer;
  background-position: 0 0;
}

body #preloadPage .preloadContent #languageSelector #selectedLanguage.langOpen {
  background-position: 0 0;
}

body #preloadPage .preloadContent #languageSelector #selectedLanguage.langOpen::after {
  rotate: 360deg;
  translate: 0 0px;
}

body #preloadPage .preloadContent #languageSelector #selectedLanguage .flagContainer img {
  width: 20px;
  translate: 0 15%;
}

body #preloadPage .preloadContent #languageSelector #selectedLanguage .flagName {
  padding-left: 10px;
}

body #preloadPage .preloadContent #languageSelector #languageOptions {
  position: absolute;
  top: 36px;
  left: -1px;
  pointer-events: none;
}

body #preloadPage .preloadContent #languageSelector #languageOptions.clickable {
  pointer-events: all;
}

body #preloadPage .preloadContent #languageSelector #languageOptions .languageOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-width: 140px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: #e56276;
  padding: 5px 0 5px 10px;
  cursor: pointer;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

body #preloadPage .preloadContent #languageSelector #languageOptions .languageOption:hover {
  background-color: #fc7e91;
}

body #preloadPage .preloadContent #languageSelector #languageOptions .languageOption .flagContainer img {
  width: 20px;
  translate: 0 15%;
}

body #preloadPage .preloadContent #languageSelector #languageOptions .languageOption .flagName {
  padding-left: 10px;
}

body #preloadPage .preloadContent .preloadbuttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}

body #preloadPage .preloadContent .actionBtn {
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #d2155b;
  color: white;
  font-size: 24px;
  -webkit-box-shadow: 5px 5px 5px rgba(87, 0, 19, 0.538);
          box-shadow: 5px 5px 5px rgba(87, 0, 19, 0.538);
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

body #preloadPage .preloadContent .actionBtn#continueBtn {
  margin-top: 15px;
}

body #preloadPage .preloadContent .actionBtn:hover {
  background-color: #ff3c83;
  cursor: pointer;
}

body #preloadPage .preloadContent .actionBtn .svgIcons {
  margin-bottom: -3px;
}

body #preloadPage .preloadContent #delScoreBtn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: 20px auto;
  color: #9a0021;
  border: none;
  background: transparent;
  outline: none;
  font-weight: 700;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

body #preloadPage .preloadContent #delScoreBtn .svgIcons {
  margin-bottom: -2px;
}

body #preloadPage .preloadContent #delScoreBtn:hover {
  cursor: pointer;
}

body #preloadPage .preloadContent #delScoreBtn.visible {
  opacity: 100%;
}

body #preloadPage .preloadContent #thankyou-message {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
}

body #rulesContainer {
  height: 100vh;
  padding: 36px;
}

body #rulesContainer .linkBack {
  font-size: 18px;
  color: black;
  text-decoration: none;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

body #rulesContainer .linkBack .svgIcons {
  margin-bottom: -3px;
}

body #rulesContainer .linkBack:hover {
  color: #9a0021;
  cursor: pointer;
}

body #rulesContainer .link {
  color: black;
  text-decoration: underline;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

body #rulesContainer .link:hover {
  color: #9a0021;
  cursor: pointer;
}

body #rulesContainer #rulesSlider {
  width: 100%;
  max-width: 900px;
  height: 50%;
  margin: 15vh auto 0;
}

body #rulesContainer #rulesSlider h2 {
  text-align: center;
}

body #rulesContainer #rulesSlider .slick-list .ruleSlide h3 {
  text-align: center;
}

body #rulesContainer #rulesSlider .slick-list .ruleSlide .two-col-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 20px;
  padding: 20px 0;
}

body #rulesContainer #rulesSlider .slick-list .ruleSlide .two-col-slide .imgContainer {
  width: calc(50% - 40px);
}

body #rulesContainer #rulesSlider .slick-list .ruleSlide .two-col-slide .imgContainer img {
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px rgba(87, 0, 19, 0.538);
          box-shadow: 0px 0px 10px rgba(87, 0, 19, 0.538);
}

body #rulesContainer #rulesSlider .slick-list .ruleSlide .two-col-slide .textContainer {
  width: calc(50% - 40px);
}

body #rulesContainer #rulesSlider .slick-list .ruleSlide .two-col-slide .textContainer p {
  font-weight: 400;
  white-space: pre-wrap;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

body .app {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .app.extended {
  padding: 80px 0;
}

body .app #mobilePopUp {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

body .app #mobilePopUp .mobilePopUp-inner {
  width: 90%;
  min-height: 50%;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

body .app #mobilePopUp .mobilePopUp-inner img {
  display: block;
  width: 250px;
  margin: 0 auto;
}

body .app #mobilePopUp .mobilePopUp-inner .mobilePopUp-twoCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-wrap: wrap; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  gap: 25px;
}

body .app #mobilePopUp .mobilePopUp-inner .mobilePopUp-twoCol .mobilePopUp-col {
  width: calc(50% - 13px);
  /* min-width: 200px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .app #mobilePopUp .mobilePopUp-inner .mobilePopUp-twoCol .mobilePopUp-col p {
  font-weight: 400;
}

body .app #mobilePopUp .mobilePopUp-inner .mobilePopUp-twoCol .mobilePopUp-col img {
  display: block;
  width: 150px;
  margin: 0 auto;
}

body .app #mobilePopUp .mobilePopUp-inner .mobilePopUp-twoCol .mobilePopUp-col img.pic {
  width: 100px;
  padding: 20px 0;
}

body .app .linkBack {
  position: absolute;
  top: 36px;
  left: 36px;
  font-size: 18px;
  color: black;
  text-decoration: none;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

body .app .linkBack .svgIcons {
  margin-bottom: -3px;
}

body .app .linkBack:hover {
  color: #9a0021;
  cursor: pointer;
}

body .app #mainContainer {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

body .app #mainContainer #scoreContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .app #mainContainer #gridTable {
  display: -ms-grid;
  display: grid;
  border: 1px solid #9a0021;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  margin: 20px 0;
  -webkit-box-shadow: 5px 5px 5px rgba(87, 0, 19, 0.538);
          box-shadow: 5px 5px 5px rgba(87, 0, 19, 0.538);
}

body .app #mainContainer #gridTable.finished {
  opacity: 10% !important;
}

body .app #mainContainer #gridTable .gridCell {
  border: 1px solid #9a0021;
  text-align: center;
  padding: 25px 0;
  font-size: 24px;
  background-color: rgba(0, 128, 0, 0);
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

body .app #mainContainer #gridTable .gridCell:hover {
  cursor: pointer;
  background-color: #f2f2f220;
}

body .app #mainContainer #gridTable .gridCell.disabled {
  text-decoration: line-through;
  color: rgba(100, 0, 70, 0.467);
  pointer-events: none;
  background-color: #ff4a8c43;
}

body .app #mainContainer #gridTable .gridCell.selected {
  background-color: #d2155b;
  color: white;
  /* pointer-events: none; */
}

body .app #mainContainer #gridTable .gridCell.hinted {
  background-color: rgba(0, 128, 0, 0.264);
}

body .app #mainContainer #buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
}

body .app #mainContainer #buttonContainer #finishContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 25px;
}

body .app #mainContainer #buttonContainer #finishContainer form #nameInput {
  max-width: 250px;
  height: 27px;
  outline: none;
  border: 2px solid #9a0021;
  padding: 8px 4px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

body .app #mainContainer #buttonContainer #finishContainer form #nameInput::-webkit-input-placeholder {
  color: black;
  opacity: 30%;
  font-weight: 400;
  font-style: italic;
}

body .app #mainContainer #buttonContainer #finishContainer form #nameInput:-ms-input-placeholder {
  color: black;
  opacity: 30%;
  font-weight: 400;
  font-style: italic;
}

body .app #mainContainer #buttonContainer #finishContainer form #nameInput::-ms-input-placeholder {
  color: black;
  opacity: 30%;
  font-weight: 400;
  font-style: italic;
}

body .app #mainContainer #buttonContainer #finishContainer form #nameInput::placeholder {
  color: black;
  opacity: 30%;
  font-weight: 400;
  font-style: italic;
}

body .app #mainContainer #buttonContainer #finishContainer form #submitBtn {
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: green;
  color: white;
  font-size: 24px;
  -webkit-box-shadow: 5px 5px 5px rgba(87, 0, 19, 0.538);
          box-shadow: 5px 5px 5px rgba(87, 0, 19, 0.538);
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

body .app #mainContainer #buttonContainer #finishContainer form #submitBtn:hover {
  background-color: #03b503;
  cursor: pointer;
}

body .app #mainContainer #buttonContainer #finishContainer form #submitBtn .svgIcons {
  margin-bottom: -3px;
}

body .app #mainContainer #buttonContainer .actionBtn {
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #d2155b;
  color: white;
  font-size: 24px;
  -webkit-box-shadow: 5px 5px 5px rgba(87, 0, 19, 0.538);
          box-shadow: 5px 5px 5px rgba(87, 0, 19, 0.538);
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

body .app #mainContainer #buttonContainer .actionBtn:hover {
  background-color: #ff3c83;
  cursor: pointer;
}

body .app #mainContainer #buttonContainer .actionBtn .svgIcons {
  margin-bottom: -3px;
}

body .app.mobile .linkBack {
  top: 15px;
  left: 15px;
}

body .app.mobile #mainContainer {
  max-width: 750px;
  padding: 70px 10px;
}

body .app.mobile #mainContainer #gridTable .gridCell {
  padding: 15px 0;
}

body .app.mobile #mainContainer #buttonContainer {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .app.mobile #mainContainer #buttonContainer .actionBtn:not(#newGameBtn) {
  width: calc(50% - 13px);
}

body .app.mobile.extended {
  padding: unset;
}

body #notFound {
  position: relative;
  width: 100%;
  height: 100vh;
}

body #notFound #notFound-inner {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  margin: auto 0;
  text-align: center;
}

body #notFound #notFound-inner a {
  color: #9a0021;
}

body #musicContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  height: 100px;
  width: 100%;
  position: fixed;
  top: -75px;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d2155b), color-stop(#d2155b), color-stop(#d2155b), to(#d2155a00));
  background-image: linear-gradient(#d2155b, #d2155b, #d2155b, #d2155a00);
  z-index: 2;
  -webkit-transition: top 300ms ease-in-out;
  transition: top 300ms ease-in-out;
}

body #musicContainer::after {
  content: "ᐁ";
  position: absolute;
  top: 100px;
  left: 50%;
  translate: -50% -25%;
  opacity: 50%;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

body #musicContainer:hover {
  top: 0px;
  cursor: pointer;
}

body #musicContainer:hover::after {
  opacity: 0%;
}

body #musicContainer.mobile {
  top: -100px;
}

body #musicContainer.mobile::after {
  display: none;
}

body #musicContainer.mobile.open {
  top: 0px;
}

body #musicContainer .audioBtns {
  width: 50px;
  height: 50px;
  color: white;
  font-size: 42px;
  text-align: center;
  margin: 15px 0;
  opacity: 50%;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

body #musicContainer .audioBtns:hover {
  opacity: 100%;
}

body #musicContainer #audioCallBtn {
  position: fixed;
  top: 16px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d2155b;
  -webkit-box-shadow: 5px 5px 5px rgba(87, 0, 19, 0.538);
          box-shadow: 5px 5px 5px rgba(87, 0, 19, 0.538);
  border: 2px solid rgba(255, 255, 255, 0);
  color: white;
  text-align: center;
  font-size: 20px;
  -webkit-transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

body #musicContainer #audioCallBtn:hover {
  background-color: #ff3c83;
}

body #musicContainer #audioCallBtn.open {
  border: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.538);
          box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.538);
}

body #musicContainer #audioCallBtn.d-none {
  display: none;
}

body #musicContainer #audioCallBtn svg {
  margin-top: 10px;
}

#alert.message {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 25px 0;
  font-size: 24px;
  text-align: center;
  color: white;
  z-index: 2;
}

#alert.message.success {
  background-color: green;
}

#alert.message.danger {
  background-color: #c10000;
}

@media only screen and (max-width: 767px) {
  body #preloadPage .preloadContent #languageSelector {
    margin: 10px;
  }
  body #rulesContainer {
    height: unset;
  }
  body #rulesContainer #rulesSlider {
    margin: 8vh auto 0;
  }
  body #rulesContainer #rulesSlider .slick-list .ruleSlide .two-col-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 0;
  }
  body #rulesContainer #rulesSlider .slick-list .ruleSlide .two-col-slide .imgContainer {
    width: 100%;
  }
  body #rulesContainer #rulesSlider .slick-list .ruleSlide .two-col-slide .imgContainer img {
    display: block;
    width: 250px;
    margin: 0 auto;
  }
  body #rulesContainer #rulesSlider .slick-list .ruleSlide .two-col-slide .textContainer {
    width: 100%;
    text-align: center;
  }
  body #alert.message {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */